.aboutCard {
    padding-top: 2%;
    background: #e9ecef;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 10vh;
}

.aboutMain {
    margin-top: 10vh;
    font-size: 1.5em;
}

#whatWeOffer {
    display: flex;
    margin-top: -10vh;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}
.aboutCard footer {
    display: flex;
    justify-content: center;
}

.teamCard {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.teamCard main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.teamCard div {
    width: 25vw;
    margin-right: 10px;
}

#JosefWallsImage {
    height: 40vh;
    background: url("./../assets/Josef.png");
    background-size: cover;
    border-radius: 5%;
}

.teamCard h6 {
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: grey;
}