.aboutCard {
    padding-top: 2%;
    background: linear-gradient(#e9ecef, #e9ecef, lightseagreen);
    font-family: 'Roboto', sans-serif;
    padding-bottom: 10vh;
    overflow: hidden;
}

.aboutMain {
    margin-top: 10vh;
    font-size: 40px;
}

.aboutCard footer {
    display: flex;
    justify-content: center;
}

.teamCard, .WhatWeOffer header  {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}

.teamCard main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    overflow: hidden;
}

.teamCard div {
    width: 25vw;
    margin-right: 10px;
}

.teamCard h1 {
    font-size: 50px;
    margin-top: 2%;
}

#JosefWallsImage {
    height: 40vh;
    background: url("./../assets/Josef.png");
    background-size: cover;
    border-radius: 5%;
}

.teamCard h6 {
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: grey;
    font-weight: bold;
    margin-bottom: 4%;
    font-size: 30px;
}

.WhatWeOffer {
    margin-top: 10vh;
}

.WhatWeOffer header {
    font-weight: bolder;
    font-size: 50px;
    padding: 2vh 2vw 2vh 2vw;
}

.WhatWeOffer section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.WhatWeOffer section div {
    margin-right: 2.5%;
    margin-left: 2.5%;
    font-size: 40px;
}

.WhatWeOfferHeader {
    display: flex;
    justify-content: center;
    font-weight: bold;
    text-decoration: underline lightseagreen;
}