.AnnouncementMain {
    height: 200vh;
    padding-top: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.AnnouncementCard {
    background: rgba(46, 46, 46, 0.76);
    height: 75%;
    width: 75%;
}

.Announcement {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Announcement img {
    width: 20vw;
    height: 45vh;
    margin-top: 1.5%;;
    margin-right: 1.5%;
}

.Announcement section {
    color: red;
    border: 1px solid rgb(46, 46, 46);
    width: 50vw;
    height: 50vh;
    margin-top: 2.5%;;
}

.Announcement section header {
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    color: whitesmoke;
    justify-content: center;
    margin-top: 25px;
}

.Announcement div {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.Announcement div p {
    width: 75%;
    font-size: 30px;
}

.Announcement footer {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
}

.Announcement footer button {
    height: 5vh;
    font-family: 'Roboto', sans-serif;
    border: none;
    font-weight: bold;
    font-size: 25px;
}

.Announcement footer button:hover {
    background: red;
    color: white;
    font-weight: normal;
}