.landingCard {
    height: 100vh;
    background: #e9ecef;
    display: flex;
    justify-content: center;
}

.landingCard  {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    left: 0px;
    right: 15px;
    margin-top: 10vh;
    padding-top: 5vh;
}

.carouselCard {
    width: 65vw;
}