.landingCard {
    height: 100vh;
    margin-bottom: 100vh;
    background: grey;
    padding-top: 7.5%;
}

#latestPack {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 2.5em;
}

.landingCard header {
    display: flex;
    justify-content: center;
    margin-bottom: 2.5%;
}

.landingScenario h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.landingScenario img {
    height: 500px;
    width: 500px;
    border-radius: 5%;
    box-shadow: 1px 1px 10px black;
}

.landingScenario img:hover {
    opacity: 0.75;
}

.landingScenario {
    margin-top: 1%;
    animation-name: scenarioAnimation;
    animation-delay: 0.5s;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
}

.landingScenarioInnerText {
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 10px 0px 10px 0px;
    border: 1px solid rgba(85, 85, 85, 0.377);
}

@keyframes scenarioAnimation {
    0% {
        position: relative;
        left: 0%;
    }
    100% {
        position: relative;
        left: 25%;
    }
}