.NavBar {
    height: 10vh;
    position: fixed;
    color: red;
    background: linear-gradient(lightseagreen, lightseagreen, lightseagreen, lightseagreen, transparent);
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 9999;
    transition-duration: 1s;
}


#LariasGames {
    color: white;
    text-shadow: 1px 1px black;
    margin-left: 10vw;
    font-size: 75px;
    font-family: 'Bangers', cursive;
}

.sectionsOnNav {
    position: fixed;
    color: black;
    right: 0px;
    display: flex;
    justify-content: center;
    margin-right: 5vw;
}

.sectionsOnNav section {
    margin: 0vh 2vw 0vh 2vw;
    font-family: 'Bangers', cursive;
    font-size: 60px;
    color: white;
    text-shadow: 1px 1px black;
    text-decoration: none;
    transition-duration: 0.1s;
}

.sectionsOnNav section:hover {
    cursor: pointer;
    opacity: 0.5;
    transition-duration: 0.1s;
}
@media (max-width: 1150px){
    .NavBar {
        background: lightseagreen;
        transition-duration: 1s;
    }
    .sectionsOnNav section {
        display: none;
    }
}