.portfolioCard {
    background: grey;
    height: 100vh;
    margin-bottom: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productCategories {
    display: flex;
    justify-content: center;
    align-items: center;
}

.productCategory {
    margin-top: 5%;
    border: 2px solid rgba(85, 85, 85, 0.377);
    box-shadow: 1px 1px 20px rgb(24, 24, 24);
    font-size: 2em;
    height: 50vh;
    width: 50vw;
    background: url("./../assets/ScenarioPackHeader.png");
    background-size: 100% 100%;;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productCategory h5 {
    font-size: 1.5em;
    background: rgba(85, 85, 85, 0.95);
    padding: 20% 0% 20% 0%;
    width: 100%;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
    text-decoration-color: rgba(85, 85, 85, 0.95);
}