.ProductCard {
    padding-top: 11vh;
    background: linear-gradient(#e9ecef, #e9ecef);
}

.ProductCard header {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    padding-bottom: 2%;
    text-decoration: underline;
    text-decoration-color: grey;
}

.ProductImages {
    display: flex;
    justify-content: center;
}

.carouselCard img {
    width: 100%;
    border: 5px solid black;
    margin-bottom: 5%;
}

.Background {
    border: 5px solid brown;
    height: 100vh;
}