.ProductCard {
    padding-top: 11vh;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(#e9ecef, #e9ecef);
    padding-bottom: 10vh;
}

.ProductCard header {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    padding-bottom: 2%;
    position: relative;
    overflow: hidden;
    border-bottom: 5px solid lightseagreen;
}

.ProductImages {
    display: flex;
    justify-content: center;
    background: rgb(49, 49, 49);
    padding: 2% 0% 2% 0%;
}

.carouselCard img {
    width: 100%;
    border: 5px solid black;
    margin-bottom: 5%;
}

.ProductMainInfo {
    display: flex;
    justify-content: center;
}

.ProductMainInfo div {
    width: 50%
}

.ProductFeatures header {
    margin-bottom: 2%;
}

.ProductDescription p {
    font-size: 1.5rem;
    margin: 2% 2% 2% 2%;
}

.ProductFeature {
    margin: 1% 0% 1% 0%;
}

.ProductFeatures div  {
    display: flex;
    justify-content: center;
    width: 100%;
}

.ProductFeatures div section p {
    font-size: 1.5rem;
    margin: 1% 0% 1% 0%;
}

.ProductFeatures div  section {
    display: grid;
    grid-template-columns: 1fr;
}

.ProductCard footer {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    button {
        height: 5vh;
        width: 25vw;
        background: lightseagreen;
        font-size: 1.5rem;
        border: 3px solid black;
        color: white;
        transition-duration: 0.25s;
    }
    button:hover {
        background: transparent;
        color: black;
        border: 3px solid lightseagreen;
        transition-duration: 0.25s;
    }
}

@media (max-width: 1000px){
    .ProductMainInfo {
        display: grid;
        grid-template-columns: 1fr;
        // justify-items: center;
        transition-duration: 1s;
    }
    .ProductDescription, .ProductFeatures {
        width: 100%;
        transition-duration: 1s;
        width: auto;
        p {
            margin: 5% 5% 5% 5%;
            width: 100vw;
        }
        header {
            width: 100vw;
            display: flex;
            justify-content: center;
        }
    }
    .ProductFeatures div section{
        margin: 5% 5% 5% 5%;
    }
    .carouselCard {
        width: 100vw;
    }
    .carouselCard img {
        width: 100%;
    }
    .ProductCard footer {
        button {
            width: 100%;
    }
    }
}