.scenarioPage {
    margin: 0% 1.5% 0% 1.5%;
    padding: 5% 5% 5% 5%;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.productPage {
    background: linear-gradient(#e9ecef, #e9ecef, lightseagreen);
    background-repeat: no-repeat;
    background-size:  100% 100%;;
}

.productCard {
    background: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-bottom: 2.655%;
}

.individualProduct {
    border: 3px solid grey;
    width: 75%;
    margin: 10px 12.5% 10px 12.5%;
    padding: 1% 1% 1% 1%;
}

.individualProduct img {
    height: 350px ;
    width: 100%;
    transition-duration: 0.2s;
}

.individualProduct img:hover {
    opacity: 0.75;
    transition-duration: 0.2s;
}

.individualProduct header {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 1% 1% 1% 1%;
}

.individualProduct section {
    display: flex;
    margin: 1% 1% 1% 1%;
}

.individualProduct h5 {
    font-size: 30px;
}

.individualProduct hover {
    opacity: 0.5;
}

#productPrice {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

@media (max-width: 1750px){
    .productCard {
        padding-top: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .individualProduct img {
        height: 400px
    }
}

@media (max-width: 1400px){
    .productPage {
        background: linear-gradient(lightseagreen, #e9ecef, lightseagreen);
    }
    .productCard {
        padding-top: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .individualProduct img {
        height: 400px
    }
}

@media (max-width: 1200px){
    .productCard {
        padding-top: 50px;
        display: grid;
        grid-template-columns: 1fr;
    }
    .individualProduct {
        display: flex;
        justify-content: center;
    }
    .individualProduct img {
        height: 450px;
        width: 100%;
    }
}