.EditProductCard {
    padding-top: 10vh;
    background: #e9ecef;
}

.EditProductCard input {
    width: 50vw;
    margin: 1% 0% 1% 0%;
}

.EditProductCard section {
    display: flex;
    justify-content: center;
}

.EditProductInput {
     border: 1px solid red;
     display: grid;
     grid-template-columns:  1fr;
}

.HeaderSection header {
    display: flex;
    justify-content: center;
    border: 1px solid black;
}

.EditProfileImages {
    border: 1px solid gold;
    display: flex;
    justify-content: center;
}

.EditProfileImages section {
    border: 1px solid khaki;
    display: flex;
    justify-content: center;
}

.EditProfileImages img {
    height: 250px;
    width: 350px;
}