.loginMain {
    background: #e9ecef;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.loginCard {
    padding-top: 10px;;
    height: 50%;
    width: 25%;
    display: grid;
    grid-template-columns: 1fr;
}

.loginCard input {
    height: 50%;
    width: 75%;
    margin: 0% 0% 0% 12.5%;
    border-radius: 5%;
}

.loginCard button {
    height: 25%;
    width: 50%;
    margin: 0% 0% 0% 25%;
    border-radius: 5%;
    font-size: 1.5em;
    border: 1px solid grey;
    padding-bottom: 2%;
}
.loginCard button:hover {
    background: red;
    border: none;
    color: white;
}

.logoSection {
    border: 1px solid white;
    height: 20vh;
    width: 12.5vw;
    position: absolute;
    top: 0px;
    left: 600px;
    margin: 10px 0px 10px 0px;
    background-image: url("./../../assets//Logo.png");
}